footer {
  text-align: center;
  padding: 50px 0;
  background: #ece9e9;
  animation: anime-word 1.5s ease;
  span {
    text-transform: uppercase;
    font-weight: 700;
  }

  a {
    font-weight: 500;
    transition: 0.5s;
    &:hover {
      color: orangered;
    }
  }
}
